* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  background: #f0f0f0;
  color: #000000;
}

#app {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
  box-sizing: border-box;
}

